@tailwind base;
@tailwind components;
@tailwind utilities;

.image-resp{
    width: 300px;
    object-fit: cover;
    
}
.fadeww{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 81px;
    background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
}
